<div style="border-right: 4px groove gainsboro;padding-right: 0px;overflow: scroll;height: 696px;" class="media-list col-sm-6 col-md-5 col-lg-4">
  <div [employeeHighlight]="employee===employeeSelected" *ngFor="let employee of employees">
    <div class="highlight">
      <employee-item [employee]="employee" (employeeSelect)="onEmployeeSelect($event)"></employee-item>
    </div>
  </div>
  <div *ngIf="employees==''" style="background-color: whitesmoke;text-align: center;padding-top: 20px;">
    <p style="color: grey;">We couldn't find what you were looking for. </p>
  </div>
</div>
<a (click)="onEmployeeCreate()" href="#" style="position: absolute;left: 25%; top: 30%;">
  <img alt="addEmployee" src="./assets/add.png" style="border-radius: 100px;" />
</a>
