<div style="padding-left: 0px;padding-top: 20px;padding-right: 0px; overflow:auto; height:85%;" class="col-sm-6 col-md-7 col-lg-8">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div style="padding-left: 20px;" class="col-sm-9 col-md-10 col-lg-10">
    
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <label for="subDivision">Sub Division</label>
            <input type="text" class="form-control" id="subDivision" formControlName="subDivision">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <label for="status">Status</label>
            <input type="text" class="form-control" id="status" formControlName="status">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" formControlName="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <label for="suspendDate">Suspend Date</label>
            <input type="date" class="form-control" id="suspendDate" formControlName="suspendDate">
            <div style="background: none; vertical-align: bottom;border-top: 0;border-left: 0;border-right: 0;" class="input-group-addon">
              <img src="./assets/calendar.png" alt="date" />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <label for="dob">Date Of Birth</label>
            <input type="date" class="form-control" id="dob" formControlName="dob">
            <div style="background: none; vertical-align: bottom;border-top: 0;border-left: 0;border-right: 0;" class="input-group-addon">
              <img src="./assets/calendar.png" alt="date" />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <label for="hiredDate">Hired Date</label>
            <input type="date" class="form-control" id="hiredDate" formControlName="hiredDate">
            <div style="background: none; vertical-align: bottom;border-top: 0;border-left: 0;border-right: 0;" class="input-group-addon">
              <img src="./assets/calendar.png" alt="date" />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <label for="nationality">Nationality</label>
            <input type="text" class="form-control" id="nationality" formControlName="nationality">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <label for="grade">Grade</label>
            <select class="form-control" id="grade" formControlName="grade">
              <option value="SE-JP">SE-JP</option>
              <option value="SE-PG">SE-PG</option>
              <option value="SE-AP">SE-AP</option>
              <option value="SE-AN">SE-AN</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <label for="maritalStatus">Marital Status</label>
            <input type="text" class="form-control" id="maritalStatus" formControlName="maritalStatus">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <label for="division">Division</label>
            <select class="form-control" id="division" formControlName="division">
              <option value="SWD-Red">SWD-Red</option>
              <option value="CDC-AsteRx">CDC-AsteRx</option>
              <option value="SWD-Pink">SWD-Pink</option>
              <option value="SWD-Green">SWD-Green</option>
            </select>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" formControlName="phone">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <label for="location">Location</label>
            <select type="text" class="form-control" id="location" formControlName="location">
              <option *ngFor="let location of locations" value="{{location.locationId}}">{{location.city}}</option>
            </select>
          </div>
        </div>
        
      </div>
      
    
  </div>
  <div (click)="onEmployeeUpload()" class="col-sm-2 col-md-2 col-lg-2 image-upload">
    <label for="file-input">
      <img style="border-radius: 100px;" *ngIf="imageUrlTemp==null" src="./assets/profile.png" alt="profile">
      <img style="border-radius: 100px;" *ngIf="imageUrlTemp" [src]="sanitizer.bypassSecurityTrustResourceUrl(imageUrlTemp)" alt="profile">
    </label>
    <!--<input hidden id="file-input" type="file" (change)="onImageChoose($event)" accept=".jpg,.png,.jpeg">-->
  </div>
  <div style="background-color: #5C6AC0;padding-left: 0px;padding-bottom: 5px;padding-top: 5px;" class="col-lg-12 col-sm-12 col-md-12">
      <button type="submit" class="btn btn-danger pull-right" [disabled]="!form.valid">Save</button>
      <button type="button" (click)="initializeForm()" class="btn btn-default pull-right" style="margin-right: 10px;">Cancel</button>
  </div>
  </form>
</div>