<div style="background-color: #5C6AC0" class="col-sm-6 col-md-7 col-lg-8">
  <ul class="nav nav-pills nav-justified">
    <li>
      <a href="#">
        <img src="./assets/nav1.png" alt="nav1">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="./assets/nav2.png" alt="nav1">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="./assets/nav3.png" alt="nav1">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="./assets/nav4.png" alt="nav1">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="./assets/nav5.png" alt="nav1">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="./assets/nav6.png" alt="nav1">
      </a>
    </li>
    
  </ul>
</div>