<div bsModal #childModalFilter="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="modal-header col-lg-12">
        <h4 class="modal-title pull-left">Filter employees</h4>
      </div>
      <div class="modal-body col-lg-12">
        
              <div class="form-group col-lg-8">
                <label class="col-lg-2" for="gender">Gender</label>
                <select class="col-lg-6" class="form-control" id="gender" formControlName="gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="All">All</option>
                </select>
              </div>
              <div class="form-group col-lg-8">
                <label class="col-lg-2" for="location">Location</label>
                <select class="col-lg-6" type="text" class="form-control" id="location" formControlName="location">
                  <option *ngFor="let location of locations" value="{{location.locationId}}">{{location.city}}</option>
                  <option value="All">All</option>
                </select>
              </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="hideChildFilterModal()">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Filter</button>
      </div>
        </form>
    </div>
  </div>
</div>
<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete confirmation</h4>
      </div>
      <div class="modal-body">
        Are you sure want to delete employee?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="hideChildModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onEmployeeDelete()">Ok</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #childModalImage="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Upload profile picture</h4>
      </div>
      <div class="modal-body">
        <div class="file-upload">
          <input id="custom-input" type="file" (change)="fileChangeListener($event)" accept=".jpg,.png,.jpeg">
        </div>
        <img-cropper [hidden]="showCanvas" #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="hideChildImageModal()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="onWell($event)">Save</button>
      </div>
    </div>
  </div>
</div>