<div style="background-color:#4051B5" class="col-sm-12 col-md-12 col-lg-12">
  <div style="padding-top: 8px;" class="col-sm-1 col-md-1 col-lg-1">
    <a href="#">
      <img src="./src/assets/menu-button.png" alt="menu">
    </a>
  </div>
  <div class="col-sm-10 col-md-10 col-lg-10">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="./src/assets/main_profile.png" alt="aa">
        </a>
      </div>
      <div class="media-body">
        <h5 class="media-heading"><strong>{{employee.firstName}} {{employee.lastName}}</strong></h5>
        <span>{{employee.grade}}</span>
      </div>
    </div>
  </div>
  <div style="padding-top: 10px" class="col-sm-1 col-md-1 col-lg-1 pull-right">
     <a href="#" style="padding-right: 15px;">
       <img src="./src/assets/settings.png" alt="settings">
     </a>
    <a>
      <img src="./src/assets/shutdown.png" alt="shutdown">
    </a>
  </div>
</div>