<div style="background-color:#4051B5" class="col-sm-12 col-md-12 col-lg-12">
  <div style="padding-top: 10px;" class="col-sm-1 col-md-1 col-lg-1">
    <a href="#">
      <img src="./assets/menu-button.png" alt="menu">
    </a>
  </div>
  <div class="col-sm-8 col-md-8 col-lg-8">
    <div style="padding-top: 5px;padding-bottom: 5px;" class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="./assets/main_profile.png" alt="aa">
        </a>
      </div>
      <div style="color: white;" class="media-body">
        <h5 class="media-heading"><strong>{{employee.firstName}} {{employee.lastName}}</strong></h5>
        <span>{{employee.grade}}</span>
      </div>
    </div>
  </div>
  <div style="padding-top: 15px" class="col-sm-3 col-md-3 col-lg-3 pull-right">
    <a href="#" class="pull-right">
      <img src="./assets/shutdown.png" alt="shutdown">
    </a>
     <a href="#" class="pull-right" style="padding-right: 15px;">
       <img src="./assets/settings.png" alt="settings">
     </a>
  </div>
</div>